.main{
    width: 80%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
}

@font-face {
    font-family: "PTSansNarrow"; /*eg Ubuntu*/
    src: url('fonts/PTSansNarrow-Regular.ttf');
}

body{
    font-family: 'PTSansNarrow'
}
#background{
    background-color: #191919;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/* #top:after{
    content: "";
    position: absolute;
    top: calc(70% - 0);
    left: 0;
    top: 0;
    width: 60%;
    height: 100%;
    background: #212121;
    transform: skew(340deg);
    transform-origin: top;
} */

.fs-4r{
    font-size: 4rem;
}
.fs-25r{
    font-size: 2rem;
}

/* #top:after {
    content: "";
    position: absolute;
    left: -120px;
    top: 0;
    width: 70%;
    height: 100%;
    background: #212121;
    transform: skew(301deg);
    transform-origin: top;
} */

#about_me{
    background: #212121;
    color: white;
}
#contact_form{
    background: #212121;
    color: white;
}

.form-control:focus {
    color: white;
    background-color: rgb(33 33 33);
    border-color: #aeaeae;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(63 63 63);
}
.form-control {
    background-color: #212121;
    color: white;
}

/* #about_me:after {
    content: "";
    position: absolute;
    top: calc(70% - 0);
    left: 0;
    top: 0;
    width: 60%;
    height: 100%;
    background: #212121;
    transform: skew(301deg);
    transform-origin: top;
} */

.btn-outline-light:hover {
    color: #fff;
    background-color: rgb(33, 33, 33);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(63 63 63);
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #fff;
    }
  }